@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <p>
        <ul>
        @foreach(var weather in Model.WeatherMessages)
        {
            <li>@weather.Date - @weather.Summary - @weather.TemperatureF</li>
        }
        </ul>
    </p>
</div>